<section id="features">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-xl text-center">
      <div>
        <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Revolutionizing Payments with PayShap Technology
        </p>
        <p class="mt-4 text-lg text-na mx-auto tracking-tight text-gray-500">
          Experience the future of transactions with our low-cost, secure, and versatile payment solution
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2>
        <div>
          <div class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3">
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-4 w-4" name="scan-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  PayShap Integration
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Leveraging South Africa's PayShap system for fast, efficient, and low-cost transactions across the country.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-4 w-4" name="scan-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Instant EFTs
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Experience lightning-fast Electronic Funds Transfers, ensuring your money moves when you need it to.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-4 w-4" name="scan-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Cash Payments
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Seamlessly handle cash transactions, bridging the gap between digital and physical payment methods.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-4 w-4" name="scan-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Code-Based Transactions
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Utilize our unique code system, similar to cell USSD codes, for quick and easy payment initiation without needing bank login credentials.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-4 w-4" name="scan-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Enhanced Security
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Conduct transactions securely without sharing sensitive financial information, ensuring optimal privacy for our users.
              </div>
            </div>
            <div>
              <div>
                <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <ion-icon aria-label="scan outline" class="hydrated md h-4 w-4" name="scan-outline" role="img"></ion-icon>
                </div>
                <p class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                  Cost-Effective Solution
                </p>
              </div>
              <div class="mt-4 text-gray-500 text-sm">
                Enjoy significantly reduced transaction fees, making our payment system accessible and beneficial for businesses of all sizes.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>