<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
            Multilayered Security
          </p>
          <p class="text-base mt-4 text-gray-500">
            Our payment system prioritizes your security with state-of-the-art encryption and hashing techniques. By not storing user credentials, we significantly reduce the risk of sensitive data exposure, setting a new standard in payment security.
          </p>
        </div>
      </div>
      <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
        <img
          alt="Lexingtøn thumbnail"
          class="border lg:rounded-3xl object-cover rounded shadow-2xl"
          src="https://brightlight.lexingtonthemes.com/assets/dashboard.svg"
        />
     </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="scan outline" class="hydrated md h-5 w-5" name="scan-outline" role="img"></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Advanced Encryption
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          We employ cutting-edge encryption algorithms to protect all sensitive data during transmission and storage, ensuring your information remains confidential and secure.
        </p>
      </div>
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="scan outline" class="hydrated md h-5 w-5" name="scan-outline" role="img"></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Secure Hashing
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          Any necessary data is securely hashed using industry-standard techniques, providing an additional layer of protection against unauthorized access and data breaches.
        </p>
      </div>
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="scan outline" class="hydrated md h-5 w-5" name="scan-outline" role="img"></ion-icon>
          </div>
          <p class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
            Minimized Risk
          </p>
        </div>
        <p class="text-gray-500 text-sm mt-4">
          By not storing user credentials, we significantly reduce the risk of sensitive information exposure. This approach sets us apart from traditional payment systems, offering you peace of mind with every transaction.
        </p>
      </div>
    </div>
  </div>
</section>